{% extends "base.html" %}

{% block title%}Главная{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}

{% block content %}
    <div class="background_and_name">
        <div class="img2"></div>
        <div class="mptp-text"> <ul><h1>Московский Педагогический</h1> <h1>Театр Подростков</h1></ul></div>
        <div class="mptp-text2"> <ul><h1>Московский</h1><h1> Педагогический</h1> <h1>Театр</h1><h1> Подростков</h1></ul></div>
        <div class="img1"></div>
        <div class="arrow"><i class="fa-solid fa-angle-down fa-2xl" style="color: #ffffff;"></i></div>
    </div>
    <div class="about1">
        <h1>О нас</h1>
        <div class="about1_content">
            <div class="img-about1"></div>
            <h2 >Мы не готовим профессиональных актеров из детей, мы стараемся поговорить с ними на важные темы через театральное искусство.</h2>
            <h3>Театр подростков — это студия, где коллектив формируется заново для каждой постановки. Спектакли затрагивают важные для подростков темы, связанные с их внутренними конфликтами и взаимодействием с миром, помогая им взрослеть, принимать решения и лучше понимать себя. Это также знакомство с литературой, театральным искусством и саморазвитие.</h3>
        </div>
    </div>
    <div class="about2">
        <h1>Наши режиссеры</h1>
        <div class="vadim_semenovich">
            <div class="img-vs"></div>
            <h1>Злотников Вадим Семенович</h1>
            <h2>Художественный руководитель и главный режиссер Московского педагогического театра подростков.
Выпускник режиссерского факультета театрального института им. Б.Щукина и филологического отделения МГПУ им.Крупской. Практикующий педагог, режиссер, автор экспериментальной программы "Основы восприятия искусства". Создатель и руководитель школьного театра "Фантазия", театральных студий в "Школе Самоопределения", Первой московской негосударственной гимназии, Лингвистической гимназии 1513 и других московских школах. Лауреат премии президента в области образования (2000 г.)</h2>
        </div>
        <div class="shura">
            <div class="img-shura"></div>
            <h1>Кузнецова Александра Сергеевна</h1>
            <h2>Режиссер и педагог Московского педагогического театра подростков.
Главный режиссер творческих смен LIS CAMP.
Выпускница режиссерского факультета театрального института им. Б. Щукина. Курс народного артиста России Ю.И.Еремина.
Выпускница РЭУ им. Плеханова</h2>
        </div>
    </div>
{% endblock %}
