{% extends "base.html" %}

{% block title%}Главная{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}

{% block content %}
    <div class="background_and_name">
        <div class="img2"></div>
        <div class="mptp-text"> <ul><h1>Московский Педагогический</h1> <h1>Театр Подростков</h1></ul></div>
        <div class="mptp-text2"> <ul><h1>Московский</h1><h1> Педагогический</h1> <h1>Театр</h1><h1> Подростков</h1></ul></div>
        <div class="img1"></div>

    </div>
    <div class="about1">
        <h1>loldfpsDLFPOSNDFPN SD</h1>
    </div>

{% endblock %}
