body{
    margin:0;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.menu-toggle .bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    background-color: white;
    transition: 0.3s;
}

/* Transform bars for animation */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

/* Offcanvas Navbar */
.offcanvas {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: black;
    color: white;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: space-between;
}

.offcanvas ul {
    list-style: none;
    padding: 70% 10% 0 10%;
    margin: 0;
    width:100%;
}

.offcanvas ul li {
    margin: 20px 0;
}

.offcanvas ul li a {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    display: block;
    text-decoration: none;
    padding: 0 0 10% 5% ;
    transition: all .4s ease;
}

.offcanvas ul li a:hover {
    color: grey;
}

/* Show Offcanvas when active */
.offcanvas.active {
    right: 0;
}

.tg-btn {
    position:absolute;
    bottom:20px;
    margin: 20px;
    display: flex;
    right: 50%;
    justify-content: bottom;
    align-items: center;
}

.tg-btn img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}


.inst-btn {
    position:absolute;
    bottom:20px;
    margin: 20px;
    right:15%;
    display: flex;
    justify-content: bottom;
    align-items: center;
}



.inst-btn img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}


.fa-solid{
   padding: 0 7% 0 0;
}
.fa-regular{
   padding: 0 7% 0 0;
}

.nav-line{
    width: 100%;
    background-color: black;
    height: 20%;
}

