.bod1 {
    background-image: url("/static/img/main.jpg"); !important
    margin:0;
    display: flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    height:100hv;
    width:100%;
    background-size:cover;
    background-position:center 20%;
    position:fixed;
    top:0
    z-index:-1;
}

.background {


}


.mptp {
    text-align:center;
    color:white;

}