@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: black;
}
.background_and_name{
    padding-left: 0px;
    margin: 0;
    display:flex;
    justify-content: center;
    height: 100vh;
}
.background1{
    background-image: url(/static/img/main.png) !important;
    padding-left: 0px;
    height: 100vh;
    width:100%;
    background-size:cover;
    background-position: center center;
    position:;
    top:0;
    z-index: -1;
}

.img1{
    background-image: url(/static/img/main1.png) !important;
    height: 100vh;
    width:100%;
    background-size:cover;
    background-position: center center;
    top:0;
    z-index: 1;
}
img2{
    background-image: url(/static/img/main2.png) !important;
    height: 100vh;
    width:100%;
    background-size:cover;
    background-position: center center;
    top:0;
    z-index: -1;
}
.mptp-text ul{
    padding: 0 0 10px 0;
}

.mptp-text2 ul{
    padding: 0 0 10px 0;
}

.mptp-text{
    position:absolute;
    text-align:center;
    justify-content:center;
    color:white;
    padding-top:25vh;;
    font-family: Montserrat;
    font-size: 2.3vw;;
    z-index: 0;
    line-height:0.5;
}

.mptp-text2{
    display:none;
    visibility: collapse;

}

.arrow{
    position: absolute;
    z-index:2;
    bottom:2.5rem;
    width:100%
    display:flex;
    justify-content:center;

}
@media only screen and (max-width: 979px){
    .mptp-text{
        padding-top: 30vh;
        font-size: 2.6vw;;
    }
}
@media only screen and (max-width: 679px){
    .mptp-text2{
        display: inline;
        visibility: visible;
        position:absolute;
        text-align:center;
        justify-content:center;
        color:white;
        padding-top:30vh;;
        font-family: Montserrat;
        font-size: 5vw;;
        z-index: 0;
        line-height:0.5;
    }
    .mptp-text{
        visibility: collapse;
    }
}

.about1 {
    font-family: Montserrat;
    color: white;
    font-weight: 300;
    text-align: center;
    padding-top: 5vh;

}
.about1_content{
    padding-left:10vw;
}
.img-about1{
    background-image: url(/static/img/img-about1.jpg) !important;
    height: 70vh;
    width:30vw;
    background-size:cover;
    background-position: center center;
    float:left;

}

.about1 h1{
    text-align:center;
}

.about1 h2{
   
    padding: 5px;
    text-align: left;
    line-height: 1.5;
    padding-top: 15vh;
    padding-right: 10vw;
    padding-left: 35vw;

}

.about1 h3{
    text-align: right;
    line-height: 1.5;
    padding-top: 5vh;
    padding-right: 10vw;
    padding-left: 40vw;
}

.about2{
    font-family: Montserrat;
    color: white;
    font-weight: 300;
    text-align: center;
    padding-top: 20vh;
}

.vadim_semenovich{
    padding-left: 10vw;
    padding-top:5vh;
}

.img-vs{
    background-image: url(/static/img/vs.jpg) !important;
    object-fit: cover;
    background-size: contain;
    height: 300px;
    width: 300px;
    border-radius:500px;
    float:left;
}
.vadim_semenovich h2{
    padding-left: 20vw;
    padding-right: 10vw;
}

.shura{
    padding-top: 20vh;
    padding-right: 10vw;
}

.img-shura{
    background-image: url(/static/img/Shura.jpg) !important;
    object-fit: cover;
    background-size: contain;
    height: 300px;
    width: 300px;
    border-radius:500px;
    float:right;
}

.shura h2{
    padding-left: 20vw;
    padding-right: 10vw;
}